.ver-perinfo{
    padding: 50px 0px;
}

.ver-declar{

}

.ver-indeti{

}

.ver-residence{

}

.ver-doc{

}

.ver-header{
    font-size: 46px;
}

.verif-save-btn{
    padding: 15px 0px;
    border-radius: 3px;
    cursor: pointer;
}

.dropzone {
}