.h-wrapper-header{
    font-size: 25px;
    margin-top: 10%;
    margin-bottom: 20px;
    font-weight: bold;
}

.h-wrapper-text{
    font-size: 12px;
    text-align: left;
    margin-top: 5px;
    font-weight: bold;
}

.h-wrapper-progress{
    margin-top: 10px;
    margin-bottom: 25px;
    height: 20px;
    background-color: #fff;
}

.h-countdown{
    margin: 20px 0px 10px 0px;
}

.raiseAmount{
    top: -10px;
    left: calc( 100% - 75px);
    position: relative;
    width: 150px;
    height: 40px;
    border-radius: 25px;
}

.raise-number{
    padding-top: 8px;
}