.ft-l-line{
    height: 1px;
    width: auto;
    background-color: #555;
}

.ft-s-line{
    height: 2px;
    width: 100px;
    background-color: #ccc;
}

.ft-icons{
    padding: 20px 0px;
}

.ft-icon{
    margin-right: 15px;
}