body{
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
  letter-spacing: 0.5px;
}

.of{
  overflow: auto
}

.white{
  color: white !important;
}

.light-blue{
  color: #72b6e7;
}

.grey{
  color: #aaa;
}

.dark-grey{
  color: #999;
}

.black{
  color: #000;
}

.bg-red{
  background-color: #f00 !important;
}

.bg-light-blue{
  background-color: #72b6e7 !important;
}

.left{
  text-align: left;
}

.center{
  text-align: center !important;
}

.no-margin{
	margin: 0px;
}

.no-padding{
  padding: 0px;
}

.f-left{
  float: left
}

.m-bottom{
  margin-bottom: 5px;
}

.m-bottom-20{
  margin-bottom: 20px;
}

.m-top{
  margin-top: 10px;
}

.s-text{
  font-size: 12px !important;
}

.n-text{
  font-size: 18px !important;
}

.b-text{
  font-size: 24px !important;
}

.light{
  font-weight: 300;
}

.bold{
  font-weight: bold;
}

.app-btn{
  color: white;
  width: 150px;
  height: 50px;
  display: inline-block;
  background-color: #0065ae;
  padding: 15px 0px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
  font-size: 14px;
  transition: 0.3s
}

.app-btn:hover{
  cursor: pointer;
  background-color: #3b96d5;
}