body{
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
  letter-spacing: 0.5px;
}

.nav-bg {
  background-color: #000000;
  margin-top:2rem;
}

.main-bg-color {
  background-color: #1a022a;
}

.main-bg-color-light {
  background-color: #605079 !important;
}

.of{
  overflow: auto
}

.hide {
  display: none
}

.navbar-toggle:focus {
  background-color: #4a0479 !important;
}

.navbar-toggle:hover {
  background-color: #4a0479 !important;
}

.navbar-inverse .navbar-nav>li>a{
  color: #fff !important;
}

.white{
  color: white !important;
}

.light-blue{
  color: #72b6e7;
}

.grey{
  color: #ccc;
}

.blue{
  color: #0065ae;
}

.dark-grey{
  color: #999;
}

.black{
  color: #000;
}

.bg-red{
  background-color: #f00 !important;
}

.bg-light-blue{
  background-color: #72b6e7 !important;
}

.bg-blue{
  background-color: #0065ae;
}

.bg-black{
  background-color: #000;
}

.bg-l-black{
  background-color:#041127;
}

.bg-white{
  background-color: #fff;
}

.left{
  text-align: left !important;
}

.center{
  text-align: center !important;
}

.no-margin{
	margin: 0px;
}

.no-padding{
  padding: 0px;
}

.p-t-50{
  padding-top: 50px;
}

.p-r-50{
  padding-right: 50px;
}

.f-left{
  float: left
}

.f-right{
  float: right
}

.m-bottom{
  margin-bottom: 5px;
  overflow: hidden;
}

.m-bottom-10{
  margin-bottom: 10px;
}

.m-bottom-20{
  margin-bottom: 20px;
}

.m-bottom-40{
  margin-bottom: 40px;
}

.m-bottom-60{
  margin-bottom: 60px;
}

.m-top{
  margin-top: 10px;
}

.m-top-20{
  margin-top: 20px;
}

.m-right-20{
  margin-right: 20px
}

.s-text{
  font-size: 12px !important;
}

.n-text{
  font-size: 18px !important;
}

.b-text{
  font-size: 24px !important;
}

.ph-white::-webkit-input-placeholder{
  color: white
}

.ph-black::-webkit-input-placeholder{
   color: black
}

.ph-grey::-webkit-input-placeholder{
  color: #ccc;
}

.border-white{
  border-color: #fff !important;
}

.light{
  font-weight: 300;
}

.bold{
  font-weight: bold;
}


.pointer:hover{
  cursor: pointer;
}
