body{
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
  letter-spacing: 0.5px;
}

.of{
  overflow: auto
}

.white{
  color: white !important;
}

.light-blue{
  color: #72b6e7;
}

.grey{
  color: #ccc;
}

.dark-grey{
  color: #999;
}

.black{
  color: #000;
}

.bg-red{
  background-color: #f00 !important;
}

.bg-light-blue{
  background-color: #72b6e7 !important;
}

.bg-white{
  background-color: #fff;
}

.left{
  text-align: left;
}

.center{
  text-align: center !important;
}

.no-margin{
	margin: 0px;
}

.no-padding{
  padding: 0px;
}

.p-r-50{
  padding-right: 50px;
}

.f-left{
  float: left
}

.f-right{
  float: right
}

.m-bottom{
  margin-bottom: 5px;
}

.m-bottom-20{
  margin-bottom: 20px;
}

.m-bottom-40{
  margin-bottom: 40px;
}

.m-top{
  margin-top: 10px;
}

.m-top-20{
  margin-top: 20px;
}

.m-right-20{
  margin-right: 20px
}

.s-text{
  font-size: 12px !important;
}

.n-text{
  font-size: 18px !important;
}

.b-text{
  font-size: 24px !important;
}

.light{
  font-weight: 300;
}

.bold{
  font-weight: bold;
}

.app-tab{
  background-color: #3b96d5;
  opacity: 0.9;
  overflow: auto;
  padding: 15px 0px;
}
