.sign-btn{
    height: 50px;
    border-radius: 2px;
    background-color: #0065ae;
    padding-top: 15px;
    transition: 0.4s;
}

.sign-btn:hover{
    cursor: pointer;
    background-color: #2EA0F1 !important;
}