.input-addon{
    background-color: transparent;
    border-right: none !important;
    /* border-color: #fff; */
}

.input-basic{
    background-color: transparent;
    border-left: none;
    /* border-color: #fff; */
    box-shadow: none;
    font-size: 14px !important;
}

.input-basic:focus{
    box-shadow: none;
    border-color: #ccc;
}

.sign-btn{
    height: 50px;
    border-radius: 2px;
    background-color: #0065ae;
    padding-top: 15px;
    transition: 0.4s;
}

.sign-btn:hover{
    cursor: pointer;
    background-color: #2EA0F1 !important;
}