.app-card{
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 30px 45px;
    margin-bottom: 30px;
}

.app-btn{
    color: white;
    width: 150px;
    height: 50px;
    display: inline-block;
    background-color: #0065ae;
    padding: 15px 0px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.3s
}
  
.app-btn:hover{
    cursor: pointer;
    background-color: #2EA0F1;
}

.app-input{
      margin-bottom: 30px;
}

.app-checkbox{
    font-size: 12px;
    color: #aaa;
    text-align: left;
    transition: 0.3s
}

.app-tab{
    background-color: #3b96d5;
    opacity: 0.9;
    overflow: auto;
    padding: 15px 0px;
  }

.input-addon{
    background-color: transparent;
    border-right: none !important;
    /* border-color: #fff; */
}

.input-basic{
    background-color: transparent;
    border-left: none;
    /* border-color: #fff; */
    box-shadow: none;
    font-size: 14px !important;
    height: 47px !important;
}

.input-basic:focus{
    box-shadow: none;
    border-color: #ccc;
}

.input-noaddon{
    box-shadow: none;
}

.input-noaddon:focus{
    box-shadow: none;
    border-color: #ccc;
}

.home-menu-logo{
    height: 50px;
    padding: 7px;
}

.navbar-toggle{
    border-color: #fff !important;
}

.navbar-toggle:hover{
    background-color: #2EA0F1 !important;
}

.navbar-toggle:focus{
    background-color: #2EA0F1 !important;
}

.navbar-collapse{
    border-color: #fff !important;
}

.navbar-item{
    color: #fff !important;
}

.app-btn-lg{
    width: 20rem !important;
}

.app-dz-text{
    margin: 10px;
}

.app-panel-body {
    font-size: 13px;
    letter-spacing: 0.5px;
}

.react-datepicker{
    font-size: 1.2rem !important;
}