.app-card{
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 30px;
}

.app-btn{
    color: white;
    width: 150px;
    height: 50px;
    display: inline-block;
    background-color: #0065ae;
    padding: 15px 0px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 2px;
    font-size: 14px;
    transition: 0.3s
}
  
.app-btn:hover{
    cursor: pointer;
    background-color: #2EA0F1;
}

.app-input{
      margin-bottom: 30px;
}

.app-checkbox{
    color: #aaa;
    textAlign: left;
    transition: 0.3s
}

.app-tab{
    background-color: #3b96d5;
    opacity: 0.9;
    overflow: auto;
    padding: 15px 0px;
  }

.input-addon{
    background-color: transparent;
    border-right: none !important;
    /* border-color: #fff; */
}

.input-basic{
    background-color: transparent;
    border-left: none;
    /* border-color: #fff; */
    box-shadow: none;
    font-size: 14px !important;
}

.input-basic:focus{
    box-shadow: none;
    border-color: #ccc;
}

.input-noaddon{
    box-shadow: none;
}

.input-noaddon:focus{
    box-shadow: none;
    border-color: #ccc;
}

.home-menu-logo{
}


