
.h-wrapper-header{
    font-size: 26px;
    margin-top: 80px;
    margin-bottom: 40px;
}

.h-wrapper-text{
    font-size: 12px;
    text-align: left;
    margin-top: 5px;
}

.h-wrapper-progress{
    margin-top: 10px;
    margin-bottom: 25px;
    height: 20px;
    background-color: #fff;
}

.h-countdown{
    margin: 40px 0px 20px 0px;
}

.progress-bar{
    position: relative !important;
    height: 20px;
    background-color: #0065ae;
}

.app-card{
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 30px;
}