.pur-tab{
    background-color: #3b96d5;
    opacity: 0.9;
    overflow: auto;
    padding: 15px 0px;
}

.pur-main{
    padding: 50px 0px;
    background-color: #fff;
    overflow: auto;
}

.pur-coins{
    margin: 30px 0px;
}

.pur-wallet{
}

.pur-l-card{
    border-radius: 5px !important;
}

.pur-btn{
    padding: 10px 20px;
    font-size: 11px;
    border-radius: 3px;
}

.pur-number{
    color: #000;
    margin-right: 5px;
    font-size: 30px;
    font-weight: bold;
}
